# Default ignored files
/shelf/
/.idea/workspace.xml

# Maven
target/

# IntelliJ IDEA
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Compiled files
*.class

# Env files
.env

# Mac files
*.swp